:root {
	/* Value tokens */
	--luxe-font-family-display: "Playfair Display Variable", serif;
	--luxe-font-family-base: "Inter Variable", system-ui;
	--luxe-color-gray: #f6f6f6;
	--luxe-color-gold: #c29b40;
	--luxe-color-darkBlue: #1b1a4e;
	--luxe-color-darkBlue40: #a4a3b8;
	--luxe-color-darkBlue60: #767695;

	/* Semantic tokens */
	--luxe-font-body: 400 1.25rem/1.75 var(--luxe-font-family-base);
	--luxe-color-heading: var(--luxe-color-darkBlue);
	--luxe-color-primary: var(--luxe-color-gold);
	--luxe-color-secondary: var(--luxe-color-darkBlue60);
	--luxe-bg-secondary: var(--luxe-color-gray);
}
