.main {
	font-size: 18px;
}

.row {
	display: flex;
	border-bottom: 1px solid var(--luxe-color-primary);
	padding: 4px 0;
}

.label {
	composes: capitalize from "../global.css";
	margin-bottom: 0;
	font-weight: 200;
	flex: 1;
}

.value {
	composes: capitalize from "../global.css";
	font-weight: bold;
	flex: 1;

	:global(.icon) & {
		text-transform: none;
		align-items: center;
		display: flex;
	}

	:global(.textCapitalize) & {
		text-transform: capitalize;
	}
}
